role: Agent

# 1. PERMISSIONS: Required for MKS to allow writing to the host/data_dir
#  ASSUMES KAFKA INSTANCE HAS ZERO SECURITY
containerSecurityContext:
  readOnlyRootFilesystem: false
  runAsUser: 0

securityContext:
  readOnlyRootFilesystem: false

# 2. RESOURCES: 1Gi limit to handle spikes when Kafka is slow
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi

# 3. SERVICE: Disabled as the agent is a producer-only pod
service:
  enabled: false

serviceAccount:
  create: true
rbac:
  create: true

customConfig:
  # Redirect data dir to a writable location for MKS
  data_dir: "/tmp/vector"

  sources:
    kubernetes_logs:
      type: kubernetes_logs

  transforms:
    # Basic Metadata Injection
    enrich_logs:
      type: remap
      inputs: ["kubernetes_logs"]
      source: |
        .pod = .kubernetes.pod_name
        .container = .kubernetes.container_name
        .namespace = .kubernetes.pod_namespace
        .node = .kubernetes.node_name

  sinks:
    kafka_sink:
      type: kafka
      inputs: ["enrich_logs"]
      # UPDATED: No security protocol (PLAINTEXT) usually uses port 9092
      bootstrap_servers: "YOUR_INTERNAL_KAFKA_IP:9092"
      topic: "k8s-logs"
      encoding:
        codec: json
      
      # SASL and TLS blocks have been removed for a "No Security" setup
      
      buffer:
        type: disk
        max_size: 300000000 
        when_full: block
